
@{
    ViewData["Title"] = "SimpleLayoutContent";
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}

<h3>Simple Layout Content</h3>

@section Header
    {

    <h1> Header set from Content View</h1>
    }
<h4> is the Content view</h4>

@*@section Scripts
{

     <script>
        $("h1").css("background-color", "crimson")
        </script>


}
*@


@section Footer
{

<h1> Demo value</h1>

}